<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#/hello">仓单明细</a></li>
    <li class="active"><a href="#/userlist">持仓单明细</a></li>
</ol><!-- 面包导航栏结束 -->
<!-- 面板|带标题带脚 -->
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">持仓单明细列表</h3>
    </div>
    <div class="panel-body">


        <!-- 面板|带标题带脚 -->
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">浮亏汇总:1088</h3>
            </div>
        </div><!-- 面板结束 -->





        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" border="1">
                <thead>
                <tr class="danger text-center">
                    <td>单号</td>
                    <td>客户姓名</td>
                    <td>客户手机</td>
                    <td>产品</td>
                    <td>方向</td>
                    <td>购买时间</td>
                    <td>购买价格</td>
                    <td>当前价格</td>
                    <td>金额</td>
                    <td>手续费</td>
                    <td>浮亏</td>
                    <td>代理商</td>
                    <td>综合会员</td>
                </tr>
                </thead>
                <tr class="text-center">
                    <td>9SG2TGA-SAD2T</td>
                    <td>李明霞</td>
                    <td>15869359865</td>
                    <td>黄金5M</td>
                    <td><span class="label label-primary">多</span></td>
                    <td>2016-10-29 18:58:43</td>
                    <td>20</td>
                    <td>25</td>
                    <td>580</td>
                    <td>25</td>
                    <td><span class="label label-danger">500</span></td>
                    <td>皇家代理商</td>
                    <td>黄大炜</td>
                </tr>
                <tr ng-repeat="g in goodsList | orderBy:'id'" class="text-center">
                    <td> {{g.id}}</td>
                    <td> {{g.name}}</td>
                    <td>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                           ng-click="deleteParam(g)" rel="nofollow">删除</a>
                    </td>
                </tr>
            </table>

        </div>

            <!-- 分页控件 -->
            <nav class="text-right">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li class="disabled"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </nav><!-- 分页结束 -->


        <!-- 弹出删除确认框 -->
        <!-- 默认先接受点击事件,再弹出模态框 -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">确定删除吗</h4>
                    </div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-default  col-md-offset-9" data-dismiss="modal"
                                ng-click="delete(deleteModel)">确定
                        </button>
                        <button type="button" class="btn btn-primary " data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div><!-- 模态框结束 -->


        <div ui-view=""></div>

    </div><!-- 面板结束 -->


    <script>
        $(document).ready(function () {
            $('.icheck').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>


