<!-- 面板|带标题带脚 -->
<div class="panel panel-success" ng-controller="goodsListController">
    <div class="panel-heading">
        <h3 class="panel-title">经纪人审核列表</h3>
    </div>
    <div class="panel-body">


        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped" border="1">
                <thead>
                <tr class="danger text-center">
                    <td>姓名</td>
                    <td>手机号</td>
                    <td>申请时间</td>
                    <td>代理商</td>
                    <td>综合会员</td>
                    <td>编辑</td>
                </tr>
                </thead>
                <tr class="text-center">
                    <td>王慧兰</td>
                    <td>18598745632</td>
                    <td>2016-10-27 23:44:34</td>
                    <td>大航代理商</td>
                    <td>李军</td>
                    <td>
                        <a class="btn btn-primary" data-toggle="modal" data-target="#deleteModal"
                           ng-click="deleteParam(g)" rel="nofollow">通过</a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                           ng-click="deleteParam(g)" rel="nofollow">拒绝</a>
                    </td>
                </tr>
                <tr ng-repeat="g in goodsList | orderBy:'id'" class="text-center">
                    <td> {{g.id}}</td>
                    <td> {{g.name}}</td>
                    <td>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                           ng-click="deleteParam(g)" rel="nofollow">删除</a>
                    </td>
                </tr>
            </table>
        </div>
        <!-- 分页控件 -->
        <nav class="text-right">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li class="disabled"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </nav><!-- 分页结束 -->
    </div>

    <!-- 弹出删除确认框 -->
    <!-- 默认先接受点击事件,再弹出模态框 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">确定删除吗</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-default  col-md-offset-9" data-dismiss="modal"
                            ng-click="delete(deleteModel)">确定
                    </button>
                    <button type="button" class="btn btn-primary " data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div><!-- 模态框结束 -->


    <div ui-view=""></div>

</div><!-- 面板结束 -->

