<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#/hello">人员管理</a></li>
    <li class="active"><a href="#/userlist">综合会员</a></li>
</ol><!-- 面包导航栏结束 -->

<!-- 面板|带标题带脚 -->
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">综合会员列表</h3>
    </div>
    <div class="panel-body">

        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline" role="form" method="post">
                    <div class="form-group">
                        <label class="" for="exampleInputEmail3">会员名称:</label>
                        <input type="email" class="form-control" id="exampleInputEmail3" style="width:160px" placeholder="支持模糊查询">
                    </div>
                    </form>
                <br/>

                <form class="form-inline" role="form" method="post">
                    <div class="form-group">
                        <label class="" for="head-datetimepicker">开始时间:</label>
                        <div class='input-group date ' id="head-datetimepicker">
                            <input type='text' class="form-control col-sm-6" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="" for="head-datetimepicker">结束时间:</label>
                        <div class='input-group date ' id="tail-datetimepicker">
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>


                    <div class="form-group col-sm-offset-1">

                        <button type="button" class="btn btn-primary">查询</button>
                        <button type="button" class="btn btn-default">重置</button>

                    </div>

                </form><!-- 内联表单结束 -->
            </div>
        </div><!-- 面板结束 -->

        <!-- 面板|空 -->
        <div class="table-responsive">

            <table class="table table-bordered table-hover table-striped" border="1">
                <thead>
                <tr class="danger text-center">
                    <td>会员编号</td>
                    <td>会员名称</td>
                    <td>负责人</td>
                    <td>代理商数</td>
                    <td>性别</td>
                    <td>电话</td>
                    <td>密码</td>
                    <td>添加日期</td>
                    <td>地址</td>
                    <td>备注</td>
                    <td>编辑</td>
                </tr>
                </thead>
                <tr class="text-center">
                    <td>1</td>
                    <td>小刘</td>
                    <td>王大伟</td>
                    <td>54</td>
                    <td>男</td>
                    <td>15869359865</td>
                    <td>687532</td>
                    <td>2016-10-25 07:51:37</td>
                    <td>上海市</td>
                    <td>无</td>
                    <td>
                        <a class="btn btn-info" ui-sref="weipan.zhhydetail" rel="nofollow">编辑</a>
                        <a class="btn btn-danger" rel="nofollow">删除</a>
                    </td>
                </tr>
                <tr ng-repeat="g in goodsList | orderBy:'id'" class="text-center">
                    <td> {{g.id}}</td>
                    <td> {{g.name}}</td>
                    <td>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                           ng-click="deleteParam(g)"
                           rel="nofollow">删除</a>
                    </td>
                </tr>
            </table>
        </div>
        <!-- 分页控件 -->
        <nav class="text-right">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li class="disabled"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </nav><!-- 分页结束 -->


    </div>

    <div class="panel-footer">
        <a ui-sref="weipan.zhhydetail" class="btn btn-info btn-sm">
            <i class="glyphicon glyphicon-edit"></i>添加综合会员
        </a>
    </div>

    <!-- 弹出删除确认框 -->
    <!-- 默认先接受点击事件,再弹出模态框 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">确定删除吗</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-default  col-md-offset-9" data-dismiss="modal"
                            ng-click="delete(deleteModel)">确定
                    </button>
                    <button type="button" class="btn btn-primary " data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div><!-- 模态框结束 -->


    <div ui-view=""></div>

</div><!-- 面板结束 -->





<script type="text/javascript">
    $(function () {
        var today = new Date();
        today.setHours(0);
        today.setMinutes(0);
        today.setSeconds(0);
        today.setMilliseconds(0);
        $('#head-datetimepicker').datetimepicker({
            sideBySide: true,
            inline: true,
            defaultDate: today,
            locale: 'ru',
            format: 'YYYY-MM-DD HH:mm:SS'
        });
        $('#tail-datetimepicker').datetimepicker({
            sideBySide: true,
            inline: true,
            defaultDate: new Date(),
            locale: 'ru',
            format: 'YYYY-MM-DD HH:mm:SS'
        });
        $('.icheck').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>








